[DEFAULT]
#保存的csv文件编码格式，windwos系统建议使用utf-8-sig
encoding = utf-8-sig
#chrome浏览器路径，留空则自动调用已安装的Chrome浏览器，绿色版请输入路径
chrome_location = E:\Program Files\Chrome\Chrome\chrome.exe
firefox_location = E:\Program Files\Mozilla Firefox\firefox.exe
#关键词
pattern = (建筑工程|装修工程|装饰工程|幕墙工程|园林工程|绿化工程|古建|市政工程|市政公用工程|(?<!机电)安装工程|土方|石方|土石方|生态治理|苗木|花卉|盆景|草坪)(?!(咨询|监理|造价|服务))
#多线程数量
thread_number = 5
#配置使用的Webdriver
webdriver = Chrome
#webdriver = Firefox
