[DEFAULT]
#保存的csv文件编码格式，windwos系统建议使用utf-8-sig
encoding = utf-8-sig
#chrome浏览器路径，留空则自动调用已安装的Chrome浏览器，绿色版请输入绝对路径
chrome_location = 
firefox_location = 
#多线程数量
thread_number = 5
#配置使用的Webdriver
webdriver = Chrome
#webdriver = Firefox
#是否在数据库中保存抓取结果的正文（True/False），保存正文会占用更多磁盘空间
save_info_to_sql = False


#设置关键词，允许设置多组关键词，可同时进行筛选。
[工程施工] #这里写分组名称
pattern = (建筑工程|装修工程|装饰工程|幕墙工程|园林工程|绿化工程|园林绿化|古建|市政工程|市政公用工程|(?<!机电)安装工程|土方|石方|土石方|生态治理|苗木|花卉|盆景|草坪)(?!.{0,7}(咨询|监理|造价|服务|设计|清运))

[工程检测]
pattern = 检测|抽检|抽测|室内环境|土壤氡|沉降|桥梁|鉴定|主体鉴定|桩基|建筑节能|工业节能|安全鉴定|无损探伤|基坑监测|测绘|绿色工厂